body{
    background-color: #06283D;
}
h1{
    /* font-family: 'Bungee Spice', cursive; */
    font-family: 'Nabla', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 7%;
}
img{
    width: 30%;
}
h3{
    text-align: center;
    /* font-family: 'Nabla', cursive; */
    font-family: 'Bungee Spice', cursive;
}
#player-1{
    margin-left: 35%;
    border-radius: 20%;
    margin-bottom: 10%;
}
#player-2{
    margin-left: 35%;
    border-radius: 20%;
}
.row{
    margin-top: 5%;
}
button{
    margin-bottom: 5%;
}
.col{
    padding-top: 5%;
}


